@import 'shared';

$spacing: 2vw;
$baseColor: lightgray;

html, body, #root {
  @include size(100%);
  position: relative;
  overflow: hidden;
}

.App {
  @include size(100%);
  position: relative;

  &__StartStopButton {
    $size: 20vw;

    @include size($size);
    @include absolute-lt(calc(50% - #{$size / 2}));
    background-color: $baseColor;
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__Contexts {
    @include flex(column);
    @include marginSpaceBetweenVertical($spacing / 2);
    border: 1px solid $baseColor;
    margin: $spacing;
    padding: $spacing;
  }

  &__Context {
    $backgroundColor: lighten($baseColor, 15%);
    $height: 4vw;
    @include flex(row);
    @include marginSpaceBetweenHorizontal($spacing / 2);
    height: $height;
    flex-direction: row;
    align-items: center;
    background-color: $backgroundColor;
    //box-sizing: border-box;
    padding: $spacing / 2;
    border: 1px solid $backgroundColor;

    &:hover {
      border: 1px solid $baseColor;
    }

    &_Current {
      background-color: lighten($baseColor, 10%);
    }

    &Color {
      @include size($height * .8);
    }

    &Remove {
      @include fadeUnhovered;
    }

    > input {
      background-color: transparent;
      border: none;
    }
  }

}

.IntervalsTimeline {
  display: flex;
  flex-direction: column;
  width: 100%;

  $dayHeight: 2vw;

  &__Day {
    width: 100%;
    border: 1px solid $baseColor;
    height: $dayHeight;
    position: relative;
  }

  &__Interval {
    position: absolute;
    background-color: gray;
    height: $dayHeight;
    min-width: 1px;
  }

  &__HourTitles {
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }

  &__HourTitle {
    flex: 1 1 auto;
    text-align: center;
    border-right: 1px solid $baseColor;
  }
}
