@import 'shared';
@import 'consts';

.App {
  @include size(100%);
  @include absolute-lt;

  @include flex(column);

  > * {
    flex: 0 0 auto;
  }

  font-family: monospace;

  &__Buttons {
    @include flex;
    font-size: $spacing * 15;

    > * {
      @include size($spacing * 20);
      @include flex-center;

      &:hover {
        background-color: #fff5;
      }
    }
  }

  &__Intervals {
    height: 40vh;
  }

  &__Contexts {
    @include flex(column);
    @include marginSpaceBetweenVertical($spacing / 2);
    margin: $spacing;
    padding: $spacing;
    width: 100 * $spacing;
    background-color: #fff5;
    border-radius: $spacing;
  }

  &__Context {
    $height: $spacing * 7;
    @include flex(row);
    @include marginSpaceBetweenHorizontal($spacing / 2);
    height: $height;
    flex-direction: row;
    align-items: center;
    padding: $spacing / 2;
    border: 1px solid transparent;

    &:hover {
      border: 1px solid;
    }

    &_Current {
      background-color: #FFF2;
    }

    &Color {
      @include size($height * .8);
      border-radius: 2px;
    }

    &Remove {
      @include fadeUnhovered;
      font-size: $spacing * 5;
    }

    > input {
      background-color: transparent;
      border: none;
    }
  }

  &__AddContextButton {
    text-align: center;
  }

  &__Effect {
    @include absolute-lt;
    @include size(100%);
    z-index: -1;
  }

  &__Timer {
    @include flex-center(column);
    flex: 1 1 auto;
    font-family: monospace;
    width: 100%;
    font-size: $spacing * 40;
    text-align: center;
  }

  &__Settings {
    @include flex(row);
  }

  &__Debug {
    font-family: monospace;
  }
}

.IntervalsTimeline {
  @include flex(column);
  overflow: hidden;

  $dayHeight: $spacing * 6;

  margin: $spacing;
  padding: $spacing;
  background-color: #fff5;
  border-radius: $spacing;

  $DayTitle_Width: 80px;

  &__Day {
    @include flex;
    border: 1px solid;
    height: $dayHeight;
    position: relative;

    &:not(:last-child) {
      border-bottom: none;
    }
  }

  &__DayTitle {
    @include flex-vertical-center;
    flex: 0 0 auto;
    width: $DayTitle_Width;
    height: 100%;
  }

  &__DayIntervals {
    position: relative;
    flex: 1 1 auto;
  }

  &__Interval {
    @include absolute-lt;
    background-color: gray;
    height: $dayHeight;
    min-width: 1px;
  }

  &__HourTitles {
    flex: 0 0 auto;
    width: calc(100% - #{$DayTitle_Width});
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: relative;
    margin-left: $DayTitle_Width;
  }

  &__HourTitle {
    flex: 1 1 auto;
    text-align: left;
    padding-left: $spacing;
    width: percentage(100 / 24);

    &:not(:last-child) {
      border-right: 1px solid;
    }
  }

  &__Scroll {
    flex: 1 1 auto;
    overflow: overlay;
  }
}
