@import './Shared';
@import './Consts';

.App {
  @include size(100%);
  background-color: $BlueB;
  color: $BlueF;
}

.SketchElem {
  @include min-size(10px);

  &:hover {
    background-color: #9995;
  }
}
